
html, body {
    overflow: hidden; 
    height: 100%; 
}

.sapUiBody {
    height: 100%;
}
li[data-todo-item-completed="true"] .sapMHBox {
	text-decoration: line-through;
}


.lisText{
  font-size: 1rem !important;
   max-width: 5rem; /* Adjust as needed */                                                
    white-space: nowrap;                                                                    
    overflow: hidden;                                                                       
    text-overflow: ellipsis;                                                                
    display: inline-block;                                                                  
    vertical-align: middle;
}

.tpPriority{
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  border-radius: 2rem; /* arredondado estilo pill */
  text-align: center;
  min-width: 3rem;
}
.tpPriorityBoxA{
   color: #842029; /* texto vermelho escuro */
  background-color: #f8d7da; /* vermelho clarinho */
  border: 1px solid #f5c2c7;
}
.tpPriorityBoxM{
  color: #664d03; /* texto marrom */
  background-color: #fff3cd; /* amarelo clarinho */
  border: 1px solid #ffe69c;
}
.tpPriorityBoxB{
  color: #0f5132; /* texto verde escuro */
  background-color: #d1e7dd; /* verde clarinho */
  border: 1px solid #badbcc;
}


.listTask{
  border-radius: 0.7rem;
  padding: 1rem !important;
  background-color: #fff !important;
  border: 1px solid #d1d1d1 !important ;
}

.border-panel {
  border: 1px solid #d1d1d1 !important ;
  width: 100%; 
}


.line {
 border: 1px solid #d1d1d1 !important ;
}

.responsiveFlex {
  display: flex; /* garante que o FlexBox tenha display flex */
  flex-direction: column; /* reforço */
}
  .containerForm{
  flex-direction: column !important;
}
  .segmentedResponsive {
    display: none !important;
  }
  .selectResponsive {
    display: flex !important;
    width: 100%; /* faz ocupar toda a largura no mobile */
  }

/* Desktop: row */
@media (min-width: 768px) {
  .responsiveFlex {
    flex-direction: row !important; /* muda para linha */
  }

  .segmentedResponsive {
  display: flex !important;
}
.selectResponsive {
  display: none !important;
}

  .lisText{
    max-width: 20rem;
  }
  .containerForm{
  flex-direction: row !important;
}
}